.master{ 
    display: grid;
    background-image: url(destokhulu.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.logo{
    opacity: 1;
}
.nav{
    margin: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.botton{
    background-color: transparent;
    border: none;
    color: white;
    text-align: right;
    text-decoration: none;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
}
h1{
    text-align: center;
    color: white;
    font-size: 62px;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

p{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

.welcome{

}

.bo{
    display: flex;
    justify-content: center;
}

.free{
    background-color: white;
    color: black;
    border: none;
    text-align: center;
    align-content: center;
    font-size: 14px;
    padding: 20px 38px;
    border-radius: 4px;
}

.free:hover{
    opacity: 0.80;
}

.trial{
        margin: 2em;
        text-align: center;
        color: white;
        font-size: 10px;
        opacity: 0.8;
        font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

.bundle{
    /* border: 0 transparent; */
    display: grid;
    grid-template-columns: 25% 25% 25%;
    padding: 40px;
    height: 70px;
    background-image: linear-gradient(to right, #081721, #0E4455);
}

.Bundle2{
    color: #1EBD9D;
    text-align: center;
}
